
.mypie{
    height: 400px;
    width: 400px;
    background: rgba(0, 84, 148, 0.06);
     border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.158);
    padding-bottom: 140px;
    margin-top: 30px;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    word-spacing: 5px;
    color: rgb(97, 97, 97);
    font-family: 'Akaya Telivigala', cursive;

}
p span{
    color: green;
}
.projcet-section{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background: rgba(0, 84, 148, 0.06);
    border: 1px solid #d6d6d63d;
    width: 96%;
    padding: 1.2rem 10px 48px 10px;
    margin: auto;
    margin-top: 2.5rem;

}
.projcet-section.dark {
  border: none;   
  background-color: #262626;
  box-shadow: -1px 1px 5px #21212134;
}
.project-item{
    display: flex;
    width: 60vw;
    padding: 20px;
    margin-top: 10px;
    background: rgba(0, 84, 148, 0.06);
    align-content: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.411);
}

.project-img{
    height: 16vw;
    border-radius: 5px;
}

.project-content{
    padding: 1rem;
}
.project-item-3{
   margin-top: 10px;
    width: 400px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.411);
    background: rgba(0, 84, 148, 0.06);


}
.icon-pro{
    height: 16px;
}
.icon-box {
    padding: 0.3rem .9rem;
    padding-top: 0.7rem;
    background-color: #72819736;
    margin-left: 2px;
    line-height: 3;
    border-radius: 5px;
    transition: all .3s;
}
.icon-box.dark{
    background-color: #ccd6f6;
}
.skill-level{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding-bottom: 2rem;
    
}
.skill-level{
    font-size: 1rem;
    word-spacing: 5px;
    color: rgb(97, 97, 97);
    font-family: 'Akaya Telivigala', cursive;
}
.skill-col.dark{
    color: #ccd6f6;
}
.icon-box:hover{
    background-color: rgb(12, 83, 216);
    fill: #fff;
}
.lang-icon{
    margin-left:6px;
    line-height: 3;
    border-radius: 5px;
    margin-top: 15px;
}

.experince-section{
    background: rgba(0, 84, 148, 0.06);
    box-shadow: -1px 1px 5px #80808078;
    width: 96%;
    margin: auto;
    margin-top: 50px;

}
.experince-section.dark {
    border: none;   
    background-color: #262626;
    box-shadow: -1px 1px 5px #21212134;
  }
.project-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}
@media screen and (max-width: 992px) {
    .projcet-section{
   flex-direction: column;

}

  .project-item {
    width: 93%;
    margin: auto;
    flex-direction: column;
    margin-top: 10px;
}.project-img {
    height: 45vw;
}
.mypie{
    width: 93%;
    margin: auto;
}
.skill-level{
    gap: 14px;
    padding: 0 2rem;
}
.project-item-3{
    width: 93%;
    margin: auto;
    margin-top: 10px;

}
.form{
    width: 93%;
    margin: auto;
    margin-top: 10px;
}

}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {

  
}