.pro-main {
  display: grid;
  grid-template-columns: repeat(1, 80vw);
  justify-items: center;
  justify-content: center;
  gap: 20px;
}
.pro-main .project-item {
  width: 80vw;
}
.form-add {
  box-shadow: 1px 2px 3px rgb(0 0 0 / 41%);
  box-sizing: border-box;
  padding: 2rem;
  width: 80vw;
  border-radius: 5px;
  margin: auto;
  background: rgba(0, 84, 148, 0.06);
  margin-top: 25px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}
.add-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: #cecefc;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.ic2.dark{
  background-color: #303245;
}
.ic2.light{
  background-color: #bec0cf;
}
.cut {
  border-radius: 10px;
  height: 20px;
  left: 10px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 2px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}


@media screen and (max-width: 992px) {
  .project-img {
    height: 39vw;
  }
  .add-box{
    grid-template-columns: repeat(1, 1fr);
  }
}
